/*

!/.gitignore

!/lynis-suggestions.md

!/systemd/

!/bind/

!/netplan/

!/network/

!/openvpn/

!/ssh/sshd_config

# Safety catch-alls

shadow*

gshadow*

*.key

*.pem

ssh_host_*

*.db*

*.bak

*.sql
