/*
!/.gitignore
!/README.md
!/lynis-suggestions.md
!/systemd/
!/bind/
!/netplan/
!/network/
!/openvpn/
!/ssh/sshd_config
!/scripts_mirror/
!.etckeeper
shadow*
gshadow*
*.key
*.pem
ssh_host_*
*.db*
*.bak
*.sql
