[Unit]
Description=AnyDesk homeoffice
Requires=network.target
After=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/usr/bin/anydesk-homeoffice --service
PIDFile=/var/run/anydesk-homeoffice.pid
KillMode=mixed
TimeoutStopSec=30
User=root
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
